.contenedor_principal {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "encabezado"
        "contenido_principal"
        "pie_de_pagina";
}

.contenedor_main {
    display: flex;
    flex-direction: column;
}


main {
    grid-area: contenido_principal;
}



.contenedor_contactos {
    display: grid;
    gap: 1rem;
    grid-template-rows: 3rem 10rem 3rem 10rem;
    grid-template-columns: auto;
    grid-area: "imagen"
        "mail"
        "imagen"
        "telefono";
}