body {
    background-color: map-get($paleta_de_colores, terciario);
    color: map-get($colores_extra, negro);
}

.contenedor_contactos {
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.contenedor_contactos p {
    padding: 5px;
}

.imagen-achicada {
    max-width: 100%;
  }
